

.header-navigation {
    background-color: black;
    display: flex;
    justify-content: space-around;
}
a {
    margin: 0;
    padding: 0;
}
.header-navigation a,
.header-navigation nav {
    margin-top: 40px;
}


.header-navigation a {
    color: white;
    font-size: 25px;
    font-family: RobotoB;
    font-weight: 500;
}

.header-navigation a {
    text-decoration: none;
}

.header-nav a {
    margin-right: 35px;
}

.header-headline {
    text-align: center;
    background-image: url(images/background.png);
    height: 100vh;
}

.header-headline h1 {
    margin: 0;
    color: white;
    font-family: RobotoB;
    font-size: 80px;
    padding-top: 300px;
}

.header-headline button {
    background-color: #0066FF;
    border: none;
    width: 430px;
    height: 85px;
    border-radius: 15px;
    font-family: RobotoB;
    font-size: 45px;
    color: white;
    margin-top: 39px;
}

.header-headline button a {
    font-family: RobotoB;
    font-size: 45px;
    color: white;
    text-decoration: none;
}


            /* General Styles */
            
            
            /* Light Mode Styles */
            body .navbar-brand {
                color: black; /* Set navbar brand color to black in light mode */
            }
            
            body .nav-link,
            body .nav-item,
            body .form-control {
                color: black; /* Ensure all nav links and form controls are black in light mode */
            }
                       